@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_quality {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Quality Report List
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Quality Report > Quality Report List
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:800px !important;">
        <div class="col margin_padding_0">
            <div class="row margin_padding_0">
                <div class="col col-md-auto" style="margin:20px 10px 0px 0px !important;">
                    <div style="width: 175px;">
                        <div style="width:100%;padding:0px 0px;">
                            <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div style="width: 200px;">
                        <select class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" id="ddl_Type" style="width:200px !important;">
                            <option value="@OurUtility.UPLOAD_Sampling_ROM">Sampling ROM</option>
                            <option value="@OurUtility.UPLOAD_Geology_Pit_Monitoring">Geology - Pit Monitoring</option>
                            <option value="@OurUtility.UPLOAD_Geology_Explorasi">Geology - Explorasi</option>
                            <option value="@OurUtility.UPLOAD_BARGE_LOADING">BARGE LOADING</option>
                            <option value="@OurUtility.UPLOAD_CRUSHING_PLANT">CRUSHING PLANT</option>
                        </select>
                    </div>
                </div>
                <div class="col col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div style="width: 150px;">
                        <div id="ddl_Sheet_div" style="display:none;">
                            <select id="ddl_Sheet" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:150px !important;"></select>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDate" class="mercy_select mercy_input_text mercy_date" style="width:120px;" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto" style="margin:20px 10px 0px 0px !important;"><div class="mercy_button" style="width:78px;" id="btnFilter"><div class="mercy_text_center">Filter</div></div></div>
                <div class="col col-md-auto" style="margin:20px 10px 0px 0px !important;"><div class="mercy_button_2" style="width:78px;"><div class="mercy_text_center">Reset</div></div></div>
            </div>
            <div class="row margin_padding_0" style="margin:40px 25px !important;">
                <div class="mercy_box_blank" style="height:700px !important;">
                    <iframe id="frmReport" src="" class="mercy_box_blank" style="display:none;height:700px !important;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var first_Load = true;

var url_Report_Sampling       = report_Server + 'RPT_SAMPLING_ROM';
var url_Report_Exploration    = report_Server + 'RPT_GEOLOGY_EXPLORASI';
var url_Report_Pit            = report_Server + 'RPT_GEOLOGY_PIT';
var url_Report_Barge_Loading  = report_Server + 'RPT_BARGE_LOADING';
var url_Report_Crushing_Plant = report_Server + 'RPT_CRUSHING_PLANT';

// DropdownList
var obj_html_Company = null;
var obj_html_Sheet = null;

// for Tracking
var currentData_Company = 'TCM';
var currentData_AnalysisResult = '@OurUtility.UPLOAD_Sampling_ROM';
var currentData_Sheet = 'HCV-LS';

$(document).ready(function () {

    $(document).attr('title', 'Quality Report - List : Mercy');

    userInfo();

    $("#txtDate").datepicker({
        todayBtn: 1
        , autoclose: true
    });
    $('#txtDate').datepicker('update', new Date());
    
    $('#btnFilter').click(function(e) {
        OnClick_btnFilter();
    });
    
    Create_ddl_Company();
    Create_ddl_AnalysisResult();
    Create_ddl_Sheet();
    
    Populate_Data_ddl_Company();
});

function Create_ddl_AnalysisResult() {
    $('#ddl_Type').select2();

    $('#ddl_Type').change(function (e) {
        OnChange_ddl_AnalysisResult();
    });

    // Inisial value
    $('#ddl_Type').val(currentData_AnalysisResult).trigger('change');
}

function Create_ddl_Company() {
    if (obj_html_Company != null) return;

    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        //, minimumResultsForSearch: 10
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function OnChange_ddl_Company() {
    if (first_Load) return;

    OnChange_ddl_AnalysisResult();
}

function Clear_ddl_Company() {
    // Clear DropdownList
    $('#ddl_Company').html('').select2({ data: { id: null, text: null } });

    Create_ddl_Company();
}

function Populate_Data_ddl_Company() {
    Clear_ddl_Company();

    // add Label: "ALL"
    var option = new Option('-- ALL', 'all', true, true);
    //obj_html_Company.append(option);//.trigger('change');

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Company/Get_ddl'
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if (!$.trim(data)) {
                // empty data
            }
            else {
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        option = new Option(item.text, item.id, true, true);
                        obj_html_Company.append(option);//.trigger('change');
                    }
                );

                // Inisial value for "Company"
                $('#ddl_Company').val(currentData_Company).trigger('change');
                
                first_Load = false;
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function OnChange_ddl_AnalysisResult(){
    
    $("#ddl_Sheet_div").hide();
    
    switch($("#ddl_Type").val())
    {
        case '@OurUtility.UPLOAD_Sampling_ROM':
            break;
        case '@OurUtility.UPLOAD_Geology_Explorasi':
            break;
        case '@OurUtility.UPLOAD_Geology_Pit_Monitoring':
            break;
        case '@OurUtility.UPLOAD_BARGE_LOADING':
            $("#ddl_Sheet_div").show();
            Populate_Data_ddl_Sheet();
            break;
        case '@OurUtility.UPLOAD_CRUSHING_PLANT':
            $("#ddl_Sheet_div").show();
            Populate_Data_ddl_Sheet();
            break;
    }
}

function Create_ddl_Sheet() {
    obj_html_Sheet = $('#ddl_Sheet').select2({
        placeholder: 'Select Sheet'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        //, minimumResultsForSearch: 10
    });

    $('#ddl_Sheet').change(function (e) {
        OnChange_ddl_Sheet();
    });
}

function Clear_ddl_Sheet() {
    // Clear DropdownList
    $('#ddl_Sheet').html('').select2({ data: { id: null, text: null } });

    Create_ddl_Sheet();
}

function Populate_Data_ddl_Sheet() {
    Clear_ddl_Sheet();

    // add Label: "ALL"
    var option = new Option('-- ALL', 'all', true, true);
    //obj_html_Sheet.append(option);//.trigger('change');

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Product/GetByCompany?c=' + $("#ddl_Company").val()
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if (!$.trim(data)) {
                // empty data
            }
            else {
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        //option = new Option(item.text, item.id, true, true);
                        option = new Option(item, item, true, true);
                        obj_html_Sheet.append(option);//.trigger('change');
                    }
                );

                // Inisial value for "Sheet"
                //$('#ddl_Sheet').val('').trigger('change');
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function OnChange_ddl_Sheet(){
    OnClick_btnFilter();
}

function OnClick_btnFilter(){
    var url = '';

    switch($("#ddl_Type").val())
    {
        case '@OurUtility.UPLOAD_Sampling_ROM':
            url = url_Report_Sampling;
            break;
        case '@OurUtility.UPLOAD_Geology_Explorasi':
            url = url_Report_Exploration;
            break;
        case '@OurUtility.UPLOAD_Geology_Pit_Monitoring':
            url = url_Report_Pit;
            break;
        case '@OurUtility.UPLOAD_BARGE_LOADING':
            url = url_Report_Barge_Loading + '&p_sheet=' + $("#ddl_Sheet").val().trim();
            break;
        case '@OurUtility.UPLOAD_CRUSHING_PLANT':
            url = url_Report_Crushing_Plant + '&p_sheet=' + $("#ddl_Sheet").val().trim();
            break;
    }

    $('#frmReport').prop('src', url + '&p_company=' + $("#ddl_Company").val() + '&p_date='+$("#txtDate").val());
    $('#frmReport').show();
}
</script>
